<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style6.css')}}">
    <title>tinder</title>
</head>

<body>
    <div class="container">
        <div class="top-bar">
            <img src="https://assets.codepen.io/6060109/tinder-user.png" alt="">
            <img src="https://assets.codepen.io/6060109/tinder-logo.png" alt="">
            <img src="https://assets.codepen.io/6060109/tinder-chat.png" alt="">
        </div>
        <div class="feed">
            <img src="https://assets.codepen.io/6060109/tinder-girl-1.png" alt="">
            <img src="https://assets.codepen.io/6060109/tinder-girl-2.png" alt="">
            <img src="https://assets.codepen.io/6060109/tinder-girl-3.png" alt="">
        </div>
        <div class="controls">
            <div class="control">
                <img src="https://assets.codepen.io/6060109/tinder-red-x.png" alt="">
            </div>
            <div class="contol ctrl-small ">
                <img src="https://assets.codepen.io/6060109/tinder-star.png" alt="">
                <div class="control">
                </div>
                <img src="https://assets.codepen.io/6060109/tinder-like.png" alt="">
            </div>
        </div>
    </div>
</body>

</html>